.albumcontainer {
	max-width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(100px, 120px));
	justify-content: center;
	margin: 0 auto;
}

.albumitem {
	display: inline-grid;
	padding: 2px;
}

.albumitem img {
	max-width: 100%;
	aspect-ratio: 1;
	object-fit: cover;
	border-radius: 10px;
}

.albumitem img:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 15px #00000030;
    background-color: rgb(255, 255, 255);
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
}

